.Sidebar
  .Sidebar__top
    .Sidebar__top--user
      .Sidebar__top--user--left
        yoshitaka
      .Sidebar__top--user--right
        = icon('far', 'edit')
        = icon('fa', 'cog') 
  .Sidebar__member
    .Sidebar__member--list
      .list1 techcamp
      .list2 まだメッセージがありません
    .Sidebar__member--list
      .list1 techcamp
      .list2 まだメッセージがありません
    

   
